@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 75%; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400; }

h1 {
  font-size: 5rem;
  font-weight: 800;
  margin: 30px 0 10px 0; }

h2 {
  font-size: 3rem;
  font-weight: 600; }

h3 {
  font-size: 2rem;
  font-weight: 800;
  margin: 0 0 25px 0; }

header {
  background-color: #7BA9B6; }

footer {
  background-color: #A39282;
  padding: 2rem 0; }

.image {
  background-image: url(../images/placeholder.gif);
  background-size: 100% 100%; }

p {
  margin: 15px 0;
  line-height: 1.5rem; }

.text1, input[type="text"], input[type="submit"] {
  font-size: 1.5rem; }

.text2 {
  font-size: 3rem;
  font-weight: 800; }

input {
  background-color: #ABEEFF;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  overflow: hidden;
  border: none;
  margin-bottom: 1rem;
  padding-left: 1rem; }

.container, .container-manual-links, .container--bourse-meteo, .container--club-social {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1274px;
  margin: 0px auto; }
  .container--otherinfos {
    height: 1336px; }
  .container--header {
    flex-flow: row nowrap;
    align-items: center; }

.item, .item-manual-link, .item--bourse-meteo, .item--club-social, .item--club-social-next-event {
  width: 49%;
  position: relative;
  margin: 0.5rem;
  background-color: #7BA9B6;
  padding: 1.5rem;
  box-sizing: border-box; }
  .item--dimention-article {
    width: 99%;
    height: 300px; }
    .item--dimention-article .article-title {
      margin: 0;
      position: absolute;
      bottom: 0px;
      left: 25px; }
  .item--header {
    width: 49%; }
  .item:nth-child(3) h3, .item-manual-link:nth-child(3) h3, .item--bourse-meteo:nth-child(3) h3, .item--club-social:nth-child(3) h3, .item--club-social-next-event:nth-child(3) h3, .item:nth-child(6) h3, .item-manual-link:nth-child(6) h3, .item--bourse-meteo:nth-child(6) h3, .item--club-social:nth-child(6) h3, .item--club-social-next-event:nth-child(6) h3 {
    text-align: center; }
  .item--padding-left-right-zero {
    padding: 1.5rem 0 1.5rem 0; }
  .item--div-container-manual-links {
    height: 250px; }
    .item--div-container-manual-links h3 {
      padding-left: 1.5rem; }
  .item .signature, .item-manual-link .signature, .item--bourse-meteo .signature, .item--club-social .signature, .item--club-social-next-event .signature {
    text-align: right;
    font-weight: 800; }
  .item--documentation {
    height: 509px; }
  .item--text-center {
    text-align: center; }

@media screen and (max-width: 900px) {
  .container, .container-manual-links, .container--bourse-meteo, .container--club-social {
    flex-flow: column nowrap; }
    .container--otherinfos {
      height: auto; }
    .container--header {
      flex-flow: row nowrap;
      align-items: center; }

  .item, .item-manual-link, .item--bourse-meteo, .item--club-social, .item--club-social-next-event {
    width: 100%;
    margin: 0.5rem 0; } }
.nav {
  background-color: #A39282;
  align-content: center;
  justify-content: flex-start;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 12px; }
  .nav div {
    display: flex;
    flex-flow: row wrap; }
  .nav--item {
    color: #000000;
    font-weight: 800;
    display: block;
    padding: 30px 15px;
    background-color: #A39282;
    text-decoration: none;
    box-sizing: border-box; }
    .nav--item:hover {
      background-color: #6B5641;
      color: #FFFFFF;
      display: block;
      background-color: #6B5641;
      padding: 30px 15px 5px 15px;
      border-bottom: 25px solid #FFFFFF; }

button {
  background-color: #6B5641;
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
  color: #FFFFFF;
  padding: 20px;
  float: right; }

.container-manual-links {
  background-color: #A39282;
  padding: 1.5rem 0 1.5rem 0;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  flex-flow: nowrap;
  width: 100%;
  height: 130px; }
  .container-manual-links a {
    font-size: 1.6rem;
    text-decoration: none;
    color: #000000; }

.item-manual-link {
  text-align: center;
  width: 30%;
  height: 60%; }

@media screen and (max-width: 900px) {
  .item-manual-link {
    margin: 0.5rem 0.5rem; } }
.container--bourse-meteo {
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 49%;
  margin: 0px; }

.item--bourse-meteo {
  display: flex;
  flex-direction: column; }
  .item--bourse-meteo:nth-child(1) h3, .item--bourse-meteo:nth-child(2) h3 {
    text-align: center; }
  .item--bourse-meteo main {
    background-color: #ABEEFF;
    width: 100%;
    height: 100%; }
  .item--bourse-meteo .main--bourse {
    background: none;
    column-count: 2;
    column-gap: 10px;
    font-size: 1.5rem;
    text-align: center; }

@media screen and (max-width: 900px) {
  .container--bourse-meteo {
    width: 100%; } }
.container--club-social {
  padding: 0;
  justify-content: space-between;
  flex-flow: nowrap;
  width: 100%;
  height: fit-content; }
  .container--club-social-wrap {
    flex-flow: row wrap; }

.item--club-social {
  margin: 0 0 1% 0;
  width: 100%;
  height: 200px; }
  .item--club-social-padding {
    padding: 1.5rem 0 0 0; }
  .item--club-social h4 {
    font-size: 1.6rem;
    font-weight: 400;
    position: absolute;
    bottom: 25px;
    left: 25px; }
  .item--club-social-mosaique {
    flex-basis: 23%;
    margin: 1% 0 1% 0;
    height: auto;
    padding: 0; }
    .item--club-social-mosaique img {
      width: 100%; }

.item--club-social-next-event {
  background-color: #A39282;
  width: 100%;
  margin: 2rem 0 0 0;
  padding: 0.5rem; }
  .item--club-social-next-event p {
    margin: 0px; }

.footer-text {
  font-weight: 800;
  margin-top: 0; }

/*# sourceMappingURL=styles.css.map */
