h1 {
	font-size: $h1;
	font-weight: $font-weight-extra-bold;
	margin: 30px 0 10px 0;
}

h2 {
	font-size: $h2;
	font-weight: $font-weight-semi-bold;
}

h3 {
	font-size: $h3;
	font-weight: $font-weight-extra-bold;
	margin: 0 0 $h3-margin-bottom 0;
}

header {
	background-color: $bluegreen;
}

footer {
	background-color: $brown-light;
	padding: 2rem 0;
}

.image {
	background-image: url(../images/placeholder.gif);
	background-size: 100% 100%;
}

p {
	margin: 15px 0;
	line-height: 1.5rem;
}

.text1 {
	font-size: $text1;
}

.text2 {
	font-size: $text2;
	font-weight: $font-weight-extra-bold;
}

input{
	background-color: #ABEEFF;
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	overflow: hidden;

	border: none;
	margin-bottom: 1rem;
	padding-left: 1rem;

	&[type="text"] {
		@extend .text1;
	}

	&[type="submit"] {
		@extend .text1;
	}
}
