.container {
	display: flex;
	flex-flow: column wrap;
	align-content: space-between;
    background-repeat: no-repeat;
	background-position: center;
	
	max-width: 1274px;
	margin: 0px auto;

	&--otherinfos {
		height: 1336px;
	}

	&--header {
		flex-flow: row nowrap;
		align-items: center;
	}
}
  
.item {
	width: 49%;
	position: relative;
	margin: 0.5rem;
	background-color: $bluegreen;
	padding: $base-padding;
	box-sizing: border-box;

	&--dimention-article{
		width: 99%;
		height: 300px;

		& .article-title{
			margin: 0;
			position: absolute;
			bottom: 0px;
			left: $h3-margin-bottom;
		}
	}

	&--header {
		width: 49%;
	}

	&:nth-child(3) h3,
	&:nth-child(6) h3{
		text-align: center;
	}

	&--padding-left-right-zero{
		padding: $base-padding 0 $base-padding 0;
	}

	&--div-container-manual-links{
		height: 250px;

		& h3 {
			padding-left: $base-padding;
		}
	}

	& .signature {
		text-align: right;
		font-weight: $font-weight-extra-bold;
	}

	&--documentation {
		height: 509px;
    }
    
	&--text-center {
		text-align: center;
	}
 }
 
@media screen and (max-width: $mobile-media-width){
	.container {
		flex-flow: column nowrap;
		&--otherinfos{
			height: auto;
		}

		&--header {
			flex-flow: row nowrap;
			align-items: center;
		}
	}

	.item {
		width: 100%;
		margin: 0.5rem 0;
	}
}