// Fonts
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap);
$opensans: 'Open Sans', sans-serif;

// Font sizes
$h1: 5rem; // 80px
$h2: 3rem; // 48px
$h3: 2rem; // 32px
$h4: 1.6rem; // 25.6px
$text1: 1.5rem; // 24px
$text2: 3rem; // 48px
$base-size: 1rem; // 16px
$link_font_size: 1.6rem; // 25.6px

// Margin
$h3-margin-bottom: 25px;

// Nav
$nav--item-padding-top-bottom: 30px;
$nav--item-padding-left-right: ($nav--item-padding-top-bottom / 2);
$hover-effect-padding-border: 25px;

// Font Weight
$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-extra-bold: 800;

// Layout
$base-padding: 1.5rem;
$mobile-media-width: 900px;

// Colors
$bluegreen: #7BA9B6;
$bluegreen-light:#ABEEFF;
$brown: #6B5641;
$brown-light: #A39282;
$white: #FFFFFF;

