.container--bourse-meteo {
    @extend .container;

    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 49%;
    margin: 0px;
}

.item--bourse-meteo{
    @extend .item;

    display: flex;
    flex-direction: column;

	&:nth-child(1) h3,
	&:nth-child(2) h3{
		text-align: center;
    }
    
    & main{
        background-color: $bluegreen-light;
        width: 100%;
        height: 100%;
    }

    & .main--bourse {
            background: none;
            column-count: 2;
            column-gap: 10px;
            font-size: $text1;
            text-align: center;
        }
}
 
@media screen and (max-width: $mobile-media-width){
    .container--bourse-meteo {
        width: 100%;
    }
}