.container--club-social {
    @extend .container;

    padding: 0;
    justify-content: space-between;
	flex-flow: nowrap;
    width: 100%;
    height: fit-content;

    &-wrap {
        flex-flow: row wrap;
    }
}

.item--club-social{
    @extend .item;

    margin: 0 0 1% 0;
    width: 100%;
    height: 200px;

	&-padding{
        padding: $base-padding 0 0 0;
	}

    & h4 {
        font-size: $h4;
        font-weight: $font-weight-normal;
        position: absolute;
        bottom: $h3-margin-bottom;
        left: $h3-margin-bottom;
    }

    &-mosaique {
        flex-basis: 23%;
        margin: 1% 0 1% 0;
        height: auto;
        padding: 0;
        // margin: 1rem;

        & img {
            width: 100%;
        }
    }

}

.item--club-social-next-event{
    @extend .item;

    background-color:$brown-light;
    width: 100%;
    margin: 2rem 0 0 0;
    padding: 0.5rem;

    & p {
        margin: 0px;
    }
}