.container-manual-links {
    @extend .container;

    background-color:$brown-light;
    padding: $base-padding 0 $base-padding 0;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
	flex-flow: nowrap;
    width: 100%;
    height: 130px;

    & a {
        font-size: $link_font_size;
        text-decoration: none;
        color: #000000;
    }
}

.item-manual-link{
    @extend .item;
    
    text-align: center;
    width: 30%;
    height: 60%;

}
 
@media screen and (max-width: $mobile-media-width){

    .item-manual-link{
        margin: 0.5rem 0.5rem;
    }
}