.nav{
    background-color:$brown-light;
    align-content:center;
    justify-content:flex-start;
    font-family: $opensans;
    font-size: $base-size;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 12px;

    & div {
        display:flex;
        flex-flow: row wrap;
    }

    &--item{
        color:#000000;
        font-weight: $font-weight-extra-bold;
        display:block;
        padding: $nav--item-padding-top-bottom $nav--item-padding-left-right;
        background-color: $brown-light;
        text-decoration: none;
        box-sizing: border-box;

        &:hover{
            background-color: $brown;
            color: $white;
            display: block;
            background-color: $brown;
            padding: $nav--item-padding-top-bottom $nav--item-padding-left-right (($nav--item-padding-top-bottom) - ($hover-effect-padding-border)) $nav--item-padding-left-right;
            border-bottom: $hover-effect-padding-border solid $white;
        }
    
    }

}